
#about h1 {
  color: var(--everything);
  font-size: 50px;
  height: 10vh;
  text-align: right;
  padding: 20vh 20px 0px 0px;

}

#about .h1-con{
  border:1px solid green
}


.accordion {
  float: right;
  width: 1100px;
  margin: 100px 0px 0px 0px;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  background-color: var(--everything);
  cursor: pointer;
}

.accordion .contentBx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
  content: "-";
}

.accordion .contentBx .content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .contentBx.active .content {
  height: 100px;
  padding: 10px;
}

.contentBx {
  animation: charge-in 2s;
}

@keyframes charge-in {
  0% {
    opacity: 0;
    transform: translateX(60px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}


.hero {
  width: auto;
  height: 80vh;
  animation: fade-up 2s;
  margin: 0 0 0 100px;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}


.gg-mail,.gg-phone, .gg-pin {
    background: none;
}

@media (max-width:1330px){
  .accordion {
    width: 800px;
  }

}

@media (max-width:1100px){
  .hero {
    display: none;
  }
  
  .accordion {
    float: none;
    width: 580px;
    margin: 100px auto;
  }
  main h1 {
    text-align: center;
  }

}