#about h1 {
  color: var(--everything);
  font-size: 50px;
  height: 10vh;
  text-align: right;
  padding: 20vh 150px 0px 0px;
}

figure {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

#about figure .heroCaption {
  width: 70%;
  height: 120px;
  padding: 20px;
  margin: -370px 0px 0px 220px;
  color: white;
  font-size: 20px;
  border: 3px solid var(--everything);
  border-style: double;
  border-radius: 20px;
  background: transparent;
}

figure figcaption {
  text-align: center;
  width: 70%;
  height: 100px;
  margin: 200px -320px;
  background-color: transparent;
}

figure .dlResume {
  margin: -200px 0px 0px -480px;
  height: 35px;
  font-size: 20px;
}

.heroBorder {
  border: 3px solid white;
  border-style: double;
  border-radius: 20px;
  height: 75vh;
  background-color: var(--everything);
}

.hero {
  width: auto;
  height: 85vh;
  border-radius: 20px;
  background: transparent;
  margin: -25px 0 0 0;
}

.heroHeaderCon {
  height: 50px;
  margin: 150px 0px 0px 200px;
}

.heroHeaders {
  list-style: none;
  display: inline;
  margin: 100px 20px 0px 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.gg-mail,
.gg-phone,
.gg-pin {
  background: none;
}
