.container {
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

.contact-box {
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
  border: 1px solid var(--everything);
  border-radius: 10px 0 0 10px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: var(--everything);
  border-radius: 0 10px 10px 0;
}

.contact-right h3 {
  background-color: var(--everything);
}

h2 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

.input-row .input-group .clintInp {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--everything);
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid var(--everything);
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
}

.contactBTN {
  width: 100px;
  border: 1px solid var(--everything);
  border-radius: 5px;
  outline: none;
  height: 35px;
  margin-top: 20px;
  background-color: none;
  color: var(--everything);
}

table {
  background-color: var(--everything);
}

tr td:first-child {
  padding-right: 20px;
  background-color: var(--everything);
}

tr td {
  padding-top: 20px;
  background-color: var(--everything);
}
