#landing {
  padding: 10% 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "landingPic textSection textSection"
    "landingPic textSection textSection"
    "landingPic textSection textSection"
    "logoCon logoCon logoCon";
  gap: 20px;
  align-items: center;
}

.landingPic {
  padding: 5%;
  grid-area: landingPic;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.borderOfPic {
  border: 3px solid white;
  border: double;
  border-radius: 20px;
  height: 28em;
  width: 20em;
}

.mainPic {
  height: 445px;
  width: auto;
}

.textSection {
  grid-area: textSection;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.borderOfText {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border: double;
  border-radius: 20px;
  height: 450px;
  width: 600px;
}

.paragraph {
  font-size: 50px;
}

.logoCon {
  grid-area: logoCon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.logos {
  height: 50px;
}

@media (max-width: 1300px) {
  .textSection {
    display: none;
  }

  #landing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:

      "landingPic"
      "logoCon";
    gap: 20px;
  }

  .landingPic {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
