#landing h1 {
  color: var(--everything);
  font-size: 50px;
  height: 10vh;
  text-align: right;
  padding: 20vh 150px 0px 0px;
}

.logoCon{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  width: 100vw;
  height: 150px;
  margin-top: 5vh;

}

.logoCon .logos{
  height: 100px;
}

#landing .landingPic { /* this is the outer border/container for the picture*/
  border: 3px solid white;
  border-style: double;
  background-color: var(--everything);
  height: 435px; /*container height*/
  width: 418px;
  margin: 0% 0px 0px 10%;
  border-radius: 20px;
}

#landing .rad2 { /*this is the picture*/
  height: 550px; /*images hight*/
  width: auto; /*dont want to distort image so set to auto*/
  border-radius: 20px;
  margin: -121px 0px;
  background-color: transparent; /*trascperent to give illision of coming out of pic*/
}

#landing .container {
  margin: -40vh 0 0 40%;
  width: 900px;
  display: flex;
  justify-content: start;
}

#landing .container .text {
  position: relative;
  color: var(--everything);
  font-size: 80px;
  font-weight: 500;
}

#landing .container .text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dominant);
  border-left: 2px solid white;
  animation: animate 5s steps(20) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
