* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Courier New";
  scroll-behavior: smooth;
  --everything: #8c4040;
  --dominant: #282828;
  --minor: white;
}

/* horizontal nav */

.navBar{
  display: none;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;

}

nav li{
  color: inherit;
}

nav a{
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;


}

/* horizontal nav */


label {
  border-radius: 20px;
  margin: 20px;
}

/* hide the html checkbox */
input[type="checkbox"] {
  visibility: none;
  display: none;
}

/* dimension of switch */
.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #080e10;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

/* character of switch stick before aplication */
.check::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--minor);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 1;
}

/* after clicking what direction you want switchh stick to go */
input[type="checkbox"]:checked ~ .check::before {
  transform: translateX(-100px);
}

/* after clicking the switch stick charcteristics of switch */
.check::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--everything);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);
}

/* bring the appied switch stik into positon */
input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(0px);
}

nav {
  margin-top: 0px;
  position: fixed;
  background-color: var(--everything);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10vw 0 0;
  z-index: 3;
  outline: 2px solid var(--everything);
  opacity: 0.7;
  outline-offset: 2px;
}

.downloadLogo {
  height: 20px;
  background: none;
}

nav a {
  text-decoration: none;
  background: none;
  margin: 10px;
  font-size: 20px;
}

nav a:hover {
  transition: 0.5s;
  color: var(--dominant);
}

nav.sticky {
  height: 5vh;
}

nav:hover {
  height: 10vh;
  transition: 0.5s;
}

nav:not(:hover) {
  transition: 0.5s;
}

@media (max-width: 1300px) {
  h1, .sideBar {
    display: none;
  }

  nav {
    justify-content: center;
    padding: 0px;
  }

  .navBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 5;
    background-color: var(--everything);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--dominant);
    border: 1px solid black;
  }

  .navBar li{
    cursor: pointer;
    

  }


}
