* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poopins", sans-serif;
  scroll-behavior: smooth;
  background-color: #303030;
  color: white;
  --everything: #cd5c5c;
}

main {
  padding-top: 100px;
}

main h1 {
  color: var(--everything);
  font-size: 50px;
  height: 10vh;
  width: 100%;
  text-align: right;
  padding: 0px 20px 0px 0px;
}

#about, #work, #contact{
  height: 100vh;
}

#about{
  margin-top: 10vh;
}

.info-display{
  color: var(--everything);;
}


#information{
  margin: 80vh 0 0 0;
  width: 50vw;
  height: 100px;
}

.GitHubBTN,.URL{
  color: var(--everything);;
  margin:60px 5px;
  border: 1px solid var(--everything);;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;

}

button:hover, [type="submit"]:hover{
  scale:1.025;
}


