* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poopins", sans-serif;
  scroll-behavior: smooth;
  background-color: #303030;
  color: white;
  --everything: #cd5c5c;
}

main {
  padding-top: 100px;
}

main h1 {
  color: var(--everything);
  font-size: 50px;
  height: 10vh;
  width: 100%;
  text-align: right;
  padding: 0px 20px 0px 0px;
}

#about,
#work,
#contact {
  height: 100vh;
}

.info-display {
  color: var(--everything);
}

#information {
  margin: 80vh 0 0 0;
  width: 80vw;
  height: 0px;
}

nav {
  margin-top: 0px;
  position: fixed;
  background-color: var(--everything);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  padding: 0px 20px 0px 0px;
}

nav a {
  text-decoration: none;
  background: none;
  margin: 10px;
  font-size: 20px;
}

nav.sticky {
  height: 5vh;
}

nav:hover {
  height: 10vh;
  transition: 0.5s;
}

nav:not(:hover) {
  transition: 0.5s;
}

